$main-font:'Montserrat',
sans-serif;
$secound-font:'Kaushan Script',
sans-serif;
$main-card-tile:'Montserrat';
$main-card-text:'Roboto';
$nav-white-color: white;
$text-black-color:black;
$main-color-accent:#fce38a;
$secound-color-accent:#f6a1a1;
$decorations-grey: #a6a6a6;
$footer-main-color:#95e1d3;
$footer-border-color:#e5e5e5;