* {
    box-sizing: border-box;
}


#wrapper{
    position: relative;
    width: 100%;
}


.container{
    max-width: 1140px;
    padding:0 15px ;
    margin: 0 auto; 
}


#header{
  
}




.logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    color:#95e1d3;
    text-decoration: none;
}
.logo a:nth-child(odd){
    text-transform: uppercase;
    }



 .site-navigation a{
    text-decoration: none;
    color:#555252;
    font-family: 'Montserrat';
    font-weight: 400; 
    color:#95e1d3;
    font-size: 15px;    
}



.nav{
display: flex;
align-items: flex-end;
justify-content: space-between;
min-height: 50px;
}  

.site-navigation{
display: flex;
justify-content: space-between;
width: 490px;
list-style: none;
text-decoration: none;
margin: 0;
padding: 0;
}

.nav-link {
  position: relative;
    text-transform: uppercase;
}



 .site-navigation a::after{ 
    display:block;
 position: relative;
    margin: 0 auto;
   content: "";
   width: 14px;
   height: 1px; 
    background-color:#f38181;
    opacity: 0;
   visibility: hidden;
}

.site-navigation a:hover::after{
    visibility:visible;
    opacity: 1;
    color: #f38181;
}  
 .site-navigation a:hover{
    color: #f38181;
}   


.servis-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}


 .item-servis{
    display: flex;
    width: 350px;
    margin-bottom: 100px;
    padding: 0 20px;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.icon{
    height: 35px;
    width: 135px;
    display: flex;
    padding-right: 20px;

}
.article{
    display: flex;
    flex-direction: column;
}

.article-wrap{
display: flex;
align-items: center;
flex-direction: column;
padding: 100px 0;
}
.article-wrap h3{
font-family: 'Kaushan Script';
font-weight: 500;
font-size: 24px;
text-align: center;
text-transform: uppercase;
}

.article-wrap h2{
 font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    }

  .servis-title{
      padding-bottom: 20px;
      font-family: 'montserrat';
      font-weight: 400;
      font-size: 14px;
      color: black;
  }

  .servis-p{
      font-family: 'Roboto';
      font-weight: 400;
      color: #a6a6a6;
  }

  .article-wrap p{
    font-family: 'Roboto';
    font-weight: 400;
    color: #a6a6a6;
}


.main-title::after{
    margin: 0 auto;
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    margin-top: 42px;
    margin-bottom: 42px; 
    background-color: #f38181;
}


.img-foto{
    width: 340px;
    height: 420px;
}

.portfolio-list{
    display: flex;
   
}
.portfolio{
    display: flex;
    margin-right: 30px;
    width: 340px;
    height: 420px;
    z-index: 1;
    position: relative;
    margin-bottom: 10px;
}
.potfolio-overlay{
    position: absolute;
  visibility: hidden; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../image/foto-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;

}
.foto-2{
    background-image: url(../image/foto-2.png);
}
.foto-3{
    background-image: url(../image/foto-3.png);
}


.potfolio-overlay::after{
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(0deg,
    rgba(242,226,145,1) 0%,
    rgba(234,138,137,1) 100%); 
    opacity: 0.9;
transition-property: transform;

}

.portfolio:hover .potfolio-overlay {
    visibility: visible;
    box-shadow: 12px 12px 2px 1px rgba(149, 255, 211, 0.8);
    transform: translate(-5px,-5px); 
    transition-duration: 200ms;
    transition-timing-function: linear;
}


.img-foto{
margin-bottom: 30px;
}

.card-foo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foo-copyrite{
display: flex;
justify-content: space-around;
}


















