
html {
    box-sizing: border-box;
}

*,::before,::after{
    box-sizing: inherit;
}


#wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
}


ul, ol{
    list-style:none ;
    padding: 0;
    margin: 0;
}

.nav-item{
    display: inline-block;
    vertical-align:middle;
    text-transform: uppercase;

}

.nav-item +.nav-item{
    padding-left: 121px;  
}


.nav-list{
    text-align: center;
    text-transform:uppercase;
    color: #626262;
    
}

.container{
    max-width: 930px;  
    padding: 0 15px;
    margin: 0 auto;
}

.cards{
    letter-spacing: -0.34em;
    margin: 0 -30px;
}

.card{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 80px 30px 45px 30px;
    letter-spacing: 0;
}

h2{
    font-size: 30px;
}


@font-face{
    font-family:'Playfair Display' ;
    src:url(fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face{
    font-family:'Ubuntu';
    src:url(fonts/Ubuntu-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
} 

body{
    font-family: 'Playfair Display';
    font-size: 14px;
    line-height: 1.72;
    color: #626262;
}

.card-img{
    margin-bottom: 30px;
}

.category-link{
    font-family: 'Unbuntu';
    text-decoration: none;
    color: #b4ad9e;
    text-transform: uppercase;
}

.card h2{
    font-size: 30px;
    margin: 30px 0;
}

.card h2 a{
    font-size: 30px;
    color: inherit;
}

.nav-link{
    color: inherit;
    text-decoration: none;     
}
.nav-link:hover{
 color: #03a9f4;
}

#header{
    padding: 75px 75px 25px;
    
}
#nav{
    max-width: 1930px;
    margin: 0 auto;
    padding: 0 15px;   
}


 .button { 
    display: block; 
    margin: 0 auto;
    border: solid  black ;
    border-width:thin; 
    height: 60px;
    width: 160px;
    padding: 10px; 
    text-align: center;
    font-family:'Playfair Display';
    font-size: 20px;
    background-color:white ;
    color: #626262;
}
.section-content{
padding-bottom: 70px;
}

