.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    background: linear-gradient(180deg, rgba($secound-color-accent, 0.8) 0%, rgba($main-color-accent, 0.8) 100%);
    @include center-flex($type: 'all');
}