.servis__icon {
    display: flex;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        height: 35px;
        width: 34px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &--qlock::after {
        background-image: url(../img/icon-alarm.svg);
    }
    &--web::after {
        background-image: url(../img/icon-graph.svg);
    }
    &--screen::after {
        background-image: url(../img/icon-book.svg);
    }
    &--screen::after {
        background-image: url(../img/icon-book.svg);
    }
    &--seo::after {
        background-image: url(../img/icon-book.svg);
    }
    &--marcap::after {
        background-image: url(../img/icon-home.svg);
    }
    &--digital::after {
        background-image: url(../img/icon-image.svg);
    }
}